/**
 * Logo
 * @desc         Styles des différents logos utilisés sur le site
 * @name         logo.less
 * @requires     styles.less
 */

.logo-main {
    display: block;
    text-align: center;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -80px;
        margin-top: -210px;
        display: inline-block;
        height: auto;
        width: 160px;
    }
}
.logo-baseline {
    text-align: center;
    font-family: @fontRegular;
    color: #fff;

    p {
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 1.3em;
        width: 260px;
        margin-top: -10px;
        margin-bottom: 30px;
        margin-left: -130px;
        display: inline-block;
        .em-size(16);
    }
}

@media screen and (min-width: @tabletMin) {
    .logo-main {
        img {
            width: 260px;
            margin-left: -125px;
            margin-top: -300px;
        }
    }
    .logo-baseline {
        p {
            width: 300px;
            margin-top: 0;
            margin-bottom: 40px;
            margin-left: -150px;
            .em-size(20);
        }
    }
}